<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @pet.date_of_birth&.to_date %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Tipo de animal:</strong>
  <%= @pet.type_of_animal %>
</p>

<%= link_to 'Editar', edit_pet_path(@pet), class: 'btn btn-warning' %> 
<%= link_to 'Adicionar prontuário', pet_medical_records_path(@pet), class: 'btn btn-success' %>
<%= link_to 'Voltar', pets_path, class: 'btn btn-primary' %>
