<%= bootstrap_form_with(model: [@pet, medical_record], local: true) do |form| %>
  <% if medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
      <% medical_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :symptoms, label: 'Sintomas' %>
  <%= form.text_area :treatment, label: 'Tratamento' %>
 
  <%= form.form_group do %>
    <%= form.submit "Submeter", class: 'btn btn-success' %>
  <% end %>
<% end %>
