<p id="notice"><%= notice %></p>

<h1>Prontuários de <%= @pet.name %></h1>

<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th>Sintomas</th>
      <th>Tratamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.symptoms %></td>
        <td><%= medical_record.treatment %></td>
        <td><%= link_to 'Editar', edit_pet_medical_record_path(@pet, medical_record), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', [@pet, medical_record], method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Prontuário', new_pet_medical_record_path, class: 'btn btn-success' %>
<%= link_to 'Voltar para pets', pets_path, class: "btn btn-info" %>
