<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @medical_record.pet.name %>
</p>

<p>
  <strong>Sintomas:</strong>
  <%= @medical_record.symptoms %>
</p>

<p>
  <strong>Tratamento:</strong>
  <%= @medical_record.treatment %>
</p>

<%= link_to 'Editar', edit_pet_medical_record_path(@pet, @medical_record), class: 'btn btn-warning' %> |
<%= link_to 'Voltar', pet_medical_records_path(@pet), class: 'btn btn-primary' %>
